.main__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 910px;
}

.main-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 1000px;
}

.main-info__left {
  max-width: 360px;
}

.main-info__right {
  max-width: 360px;
  text-align: right;
}

.percents {
  list-style: none;
  margin: 0;
  padding: 0;
}
