@import "_vars.scss";
@import "_mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
}

@import "../components/AboutPromo/_aboutPromo.scss";
@import "../components/MainPromo/_mainPromo.scss";
@import "../components/MainConsult/_mainConsult.scss";
@import "../components/MainLean/_mainLean.scss";
@import "../components/MainServices/_mainServices.scss";
